#chat__background {
  background: #abc1d1;
}
#chat-screen {
  background: #abc1d1;
  height: 11000vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px) rotateY(-20deg);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeIn--own {
  from {
    opacity: 0;
    transform: translateX(30px) rotateY(20deg);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
}
.message-row--own {
  opacity: 0;
  animation: fadeIn--own 0.5s linear forwards;
}
.message-row:nth-child(2) {
  animation-delay: 0.2s;
}
.message-row:nth-child(3) {
  animation-delay: 0.5s;
}
.message-row:nth-child(4) {
  animation-delay: 0.7s;
}
.message-row:nth-child(5) {
  animation-delay: 1.1s;
}
.message-row:nth-child(6) {
  animation-delay: 1.4s;
}
.message-row:nth-child(7) {
  animation-delay: 1.7s;
}
.message-row:last-child {
  animation-delay: 2s;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  margin-bottom: 5px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__buble {
  background-color: white;
  border-radius: 15px;
  padding: 13px;
  font-size: 18px;
  margin-right: 5px;
  line-height: 125%;
  word-break: break-all;
  border-top-left-radius: 0px;
}
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
/* 상단의 로우 리버스와 같은 효과: flex 자식에서만 사용 가능 */
/* .message-row--own .message__buble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
} */
.message-row--own .message__buble {
  margin-left: 5px;
  margin-right: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 85%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 13px;
  width: 100%;
  margin-left: -20px;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:first-child {
  font-size: 22px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -5px;
  top: 3.5px;
}
.reply__column:last-child > i {
  right: 45px;
  top: 12.5px;
  font-size: 27px;
}
.reply__column button {
  background: var(--yellow);
  border: none;
  width: 37.5px;
  height: 37.5px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button:active {
  background-color: #ddcc33;
}

@keyframes opacityplus {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-30px);
  }
}
@keyframes opacitysend {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}

.reply:focus-within .reply__column:first-child {
  animation: opacityplus 0.3s linear;
}
.reply:focus-within .fa-grin-alt,
.reply:focus-within button {
  animation: opacitysend 0.1s linear forwards;
}

.reply:focus-within .reply__column,
.reply .fa-grin-alt,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply input:focus {
  width: 88vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
