.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--horizontal-space) var(--horizontal-space);
  margin-bottom: 15px;
  background-color: white;
  /* border-bottom: var(--main-border);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75); */
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons-margin {
  margin-right: -25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s ease-in-out infinite;
}
